[2018-03-16 21:55] gardnerjr opened #20 "None of the workbooks have descriptions?"
none of the current workbooks have descriptions in their settings.json?
and worse, the cohorts apparently have "description goes here" in their descriptions?

[2018-11-13 19:03] gardnerjr opened #61 "create a markdown page with best practices"
things like using timerange params in queries, doing filtering up front, etc.  just general things.

and samples how to do json dropdowns/etc instead of doing them as datatable queries?

possibly also more complicated things like hidden params that do queries to hide/show parts of a workbook

[2018-12-13 05:25] andrewki-msft opened #89 "Update JSON validation test to handle UTF-8 Byte-Order Mark (BOM) error"
The JSON validation test fails if Byte-Order Mark (BOM) is present in the file and throws an ambiguous error. The validation test should be updated to warn the user to take corrective action to remove BOM. It is recommended that BOM should not be used in UTF-8.

https://tools.ietf.org/html/rfc3629#page-6

Steps to reproduce:
1. Use notepad++ or some text editor that prepends a UTF-8 BOM
2. Save a

[2018-12-13 18:36] gardnerjr commented on #89
I'm tryng to add @ericc1103 to who it is assigned to and somehow it autocompleted to 04diiguyi?  wth github?

[2018-12-13 18:47] ericc1103 commented on #89
That is not me... Now sure why..

Thanks,

Eric

________________________________
From: John Gardner <notifications@github.com>
Sent: Thursday, December 13, 2018 10:36 AM
To: Microsoft/Application-Insights-Workbooks
Cc: Eric Chong; Mention
Subject: Re: [Microsoft/Application-Insights-Workbooks] Update JSON validation test to handle UTF-8 Byte-Order Mark (BOM) error (#89)

I'm tryng to add @ericc11

[2019-01-16 23:55] gardnerjr commented on #89
from an ancient archive of nodejs 0.x:

https://github.com/nodejs/node-v0.x-archive/issues/1918

[2019-01-18 22:24] JerryBlake opened #100 "Adding a workbook template for Mezzurite"
Hi,
We been working on a Ai Workbook template to show the data generated from the https://github.com/Microsoft/ApplicationInsights-JS-Mezzurite plugin.  We have our template but need to know where to check it into.  The data is sent up via the pageviewperformance method, and shows up in the browser timings folder.

[2019-01-23 00:02] jpiyali commented on #100
@ericc1103 - can you please recommend a folder for the mezzurite extension workbook to go under?

[2019-01-23 01:03] ericc1103 commented on #100
@JerryBlake Please create your workbook folder under `Application-Insights-Workbooks/Workbooks/`
As an example, feel free to take a look at folders called `Virtual Machines` or `Virtual Machines (Classic)`

[2019-02-21 17:25] gardnerjr commented on #100
see #120 for a PR that has this template.

[2019-02-21 17:25] #100 closed

[2019-02-21 19:50] gardnerjr opened #124 "update JSON validation to warn/fail about other various uncommon things"
1) warning: edit mode - Workbooks that are unlocked (in edit mode) are rare, but possible.  but it's almost always never what you want.

so the validator should warn if a workbook is in edit mode, so we catch it in PRs here.

2) error: `defaultResourceIds`, `fallbackResourceIds` - these should always be not set, they're for workbooks, not for templates

3) warning: `crossComponentResources` that a

[2019-02-22 22:44] gardnerjr opened #127 "several workbooks unintentionally open in edit mode?"
these templates have `"isLocked": false`, so when they open from the gallery they open in edit mode.  is this correct?

* Workbooks/Virtual Machines/Key Metrics/Key Metrics.workbook
* Workbooks/Usage/Usage Calendar/Usage Calendar.workbook
* Workbooks/Azure Active Directory/SignIns/SignIns.workbook
* Workbooks/Azure Active Directory/SignInsUsingLegacyAuth/SignIns.workbook
* Workbooks/Azure Active D

[2019-02-28 21:52] andrewki-msft commented on #127
I suggest the test be updated to throw a warning if `isLocked` is `false`

[2019-02-28 21:53] andrewki-msft opened #130 "Validation test should catch improper JSON dropdown"
Validation test should fail when dropdown has improperly formatted JSON or else the dropdown will not show anything.
![image](https://user-images.githubusercontent.com/43890980/53601069-0b0fe100-3b60-11e9-8dfe-20409fe26da0.png)

[2019-03-14 19:44] andrewki-msft opened #146 "Connections workbook doesn't support custom time range"
Connections workbook doesn't support custom time range
![image](https://user-images.githubusercontent.com/43890980/54386699-d10e0700-4656-11e9-98f4-ef025ec7353b.png)

[2019-03-15 04:04] acearun commented on #127
The fix here was to take out the isLocked flag from the advanced editor by default since most templates don't need to open in Edit mode. If needed, an author will need to add in the property in the workbook payload.

The active directory templates have been fixed. Will fix the Usage Calendar template too.

[2019-03-15 04:04] #127 closed

[2019-03-15 04:05] acearun commented on #61
Working on this now.

[2019-03-15 04:23] acearun commented on #146
The issue happens because you are running this query:

For custom time ranges, the time range expands to something like:

Since both strings use double quotes, it messes up the string you are trying to print. The fix is to use a single quote for your print string

[2019-03-15 04:27] acearun commented on #146
A better practice is not use time parameters in KQL but instead bind it to the Time Range drop down of the parameters:

<img width="584" alt="image" src="https://user-images.githubusercontent.com/9730127/54408644-cdeb3900-469f-11e9-9bfa-c50a671fb21e.png">

In this case, workbooks will take care of setting up your time context. Less chance of running into issues like this one.

[2019-03-15 09:35] v-makoud opened #148 "M35911: Ambiguity: Please, explain what "from the box" means"
Hello @ericc1103,
Translator has reported possible source content issue.
Link to Github file: https://github.com/Microsoft/Application-Insights-Workbooks/blob/master/Workbooks/TSG/Performance%20Counter%20TSG/Performance%20Counter%20TSG.workbook
Row where the issue is located: 217
Comment: Translator asks to confirm the meaning of "serviced from the box" here, since they could not find a definition

[2019-03-15 17:46] acearun commented on #146
@andrewki-msft can you confirm if the suggestion works and close this issue please?

[2019-03-15 18:15] andrewki-msft commented on #146
Yes, will push out a fix soon

[2019-03-15 18:16] acearun commented on #148
[code]

Replacing this section with:

[code]
It was meant to mean - there may be many other apps running on the same compute instance, possibly slowing down the current app.

Hopefully, this clarifies things.

[2019-03-19 03:26] #146 closed

[2019-03-21 17:29] acearun commented on #130
@gardnerjr can we notify the user about this error on parameter save?

[2019-03-21 17:42] gardnerjr commented on #130
ideally when you press update, yes.  the preview dropdown would already be empty after that as well.

since this is on the extension code side, I've opened

there, and will close this item here.

[2019-03-21 17:42] #130 closed

[2019-03-28 20:36] #148 closed

[2019-05-06 23:17] gardnerjr commented on #124
edit mode was removed from being in the default output, so (1) above is basically taken care of that way.

#181 would mostly handle all the other ones, by just verifying that the templates don't contain anything with `/subscriptions/[guid]` in them _anywhere_.

[2019-05-07 18:29] gardnerjr opened #183 "travis validation build is no longer running? (and document here in this repo how it is configured)"
not sure how/why/when it stopped running but it isn't running anymore.

[2019-05-09 21:26] ericc1103 commented on #183
This is the one of the latest PR and I do see travis validation build ran:

![image](https://user-images.githubusercontent.com/5156022/57487807-4caabf80-7266-11e9-855c-3d2fcf0050d1.png)

[2019-05-09 23:10] gardnerjr commented on #183
here's one that completed and didn't run CI:
![image](https://user-images.githubusercontent.com/10158007/57492245-f7c27580-7274-11e9-99f7-ffd8d76a0e0f.png)

[2019-05-09 23:11] gardnerjr commented on #183
there needs to be documentation somewhere here in this repo that explains how travis is configured for builds here, what triggers it, and why some file changes/branches aren't getting CI builds?

[2019-05-15 13:00] NandiniGV opened #190 "Creating a workbook instance for an application insight programmatically"
We have a workbook created manually for an application insight and I am trying to deploy workbook instance to application insight using the arm template. ARM template was copied from the portal , by going to the advanced settings of workbook in an edit mode.
 But, when deployed the arm template using PowerShell or even used visual studio, it is deploying like a individual resource in the resource

[2019-05-29 21:08] gardnerjr commented on #190
@ericc1103  is actively working on removing this limitation for application insights workbooks.

creating things via an arm template does create them as individual resources. the `workbookSourceId` / `workbookSourceId` in that sample is what "links" the tsg/workbook you just created to the application insights resource.  If that is done properly, you'll see the item show up in the saved list for t

[2019-05-29 21:09] #124 closed

[2019-05-29 21:18] gardnerjr opened #202 "add samples for dropdown with selection, grouping"
https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/Parameters/DropDown.md

there are samples there for json, query dropdowns, but they don't explain the "advanced" behaviors for

column 0 = value, column 1 = name, column 2 = selected, column 3 (or named "group") = group

which applies to all of the various dropdowns.

[2019-06-13 07:37] oveiyakrish commented on #202
Very good brief and this post helped me a lot. Say thank you I searching for your facts. Thanks for sharing with us!
https://www.gangboard.com/business-intelligence-training/qlik-sense-training?utm_source=socials&utm_medium=fb&utm_campaign=coursepage&utm_term=qlik&utm_content=oveiya

[2019-06-13 16:48] gardnerjr commented on #202
(deleted comment spam)

[2019-07-12 22:20] gardnerjr commented on #183
what I've found so far.
* travis is configured with a `.travis.yml` file in the root of the repo
* https://travis-ci.org/microsoft/Application-Insights-Workbooks  is where the builds show up
* but they somehow aren't always showing up linked to the PR/commits here?

[2019-07-17 00:48] gardnerjr commented on #183
as of #309 i have the travis.yml set up to always build master when it gets updated, AND to build any PR branches as PR builds.  the rest of the info is above.  i'm still not sure why it stopped working and then started working again, though.

[2019-07-17 00:48] #183 closed

[2019-08-09 07:00] jdebarochez commented on #190
Hello everyone,
Is there an update on this topic?
@gardnerjr what do you mean by done properly? My workbookSourceId looks like this `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}`

[2019-08-14 18:08] gardnerjr commented on #190
if your workbook type is "tsg" and your workbookSourceId is a valid azure resource id for an application insights resource, then you should see your workbook in the "Troubleshooting Guides" section of application insights.

[2019-10-02 12:28] nosalan opened #407 "Pinning issues"
1) How do I select dashboard when pinning? It pins the workbook to a dashboard I dont want, but cant select anything else
2) Why is dropdown with parameters not able to be pinned do dashboard?
3) How to integrate the time settings on the Application Dashboard with the workbook query time range?

Btw, is the Workbook feature being abandoned soon? I see it's quite unstable and some feature were prom

[2019-10-02 19:37] gardnerjr commented on #407
1. For pinning, currently there's no way for us to give you the option to pick a dashboard when pinning. We depend on the portal itself for this support, which we've asked for.  It is represented here: https://feedback.azure.com/forums/223579-azure-portal/suggestions/20238709-pin-to-dashboard-allow-selection-of-dashboard-wh

2.  Not sure the question here.  you want to pin a dropdown to the dashbo

[2019-10-07 18:20] gardnerjr commented on #407
The pinning with time range parameters issues should all be fixed in prod now.

Need more information on (2) listed above to be helpful.

The option for unstacked bar charts will appear in Workbooks in the portal in the next few days as the Chart Settings features come online.

[2019-10-07 18:20] #407 closed

[2019-10-09 15:23] nosalan commented on #407
Regarding 2, I created a workbook with a dropdown that is dynamically populated by a query. The charts in the workbook use that dropdown parameter. I was able to pin the chart to the dashboard but was unable to pin the dropdown to the dashboard. There was no pin icon. It was not a time range parameter. Hope that it exaplains more. Related image is below.

Thanks for the replies. Let me explaing wh

[2019-10-09 19:10] gardnerjr commented on #407
Workbooks and Logs will probably never be a "single" product, as they do different things, and are intended for different things:
* One (logs) is a data source that supports querying data in that one data store
* The other (workbooks) is a generic canvas that lets you query *across* data sources, not just logs (logs, alerts, health, resources, metrics, adx, etc, etc) and create different kinds of

[2019-10-17 17:33] mrbullwinkle opened #437 "Broken links in the SPA performance workbook"
The [Single Page Applications Workbook](https://github.com/microsoft/Application-Insights-Workbooks/blob/84061db588a6536454ecd2ef2a562e6e6abc7b90/Workbooks/Performance/Single%20Page%20Application%20Insights/Single%20Page%20Application%20Website%20Insights.workbook) has a broken link for "React based sites" and for "Angular based sites". Both links currently return a 404.

[2019-11-05 23:56] #89 closed

[2020-01-08 10:05] AndrewSmithRS opened #546 "Field Widths do not save"
With a grid output the the field widths seem to be set some arbitrary value sometimes either hiding the field title or the cell content. When adjusting the width manually this does not save. Also when making the field width wider a scrollbar appears as if there is additional hidden content to the right of the visible fields.

Modifying percent width (even setting to 0) or the maximum width does no

[2020-01-09 17:39] gardnerjr commented on #546
The portal framework team is actively working on changing the behavior of grid column sizing everywhere in the portal to meet some accessibility requirements.  We've also been following along, trying to fix things in response to their changes as they go.

unfortunately, because of the holiday lockdowns (which were then extended for JEDI), there appear to be a lot of partially deployed things even

[2020-01-16 11:47] mortenlerudjordet commented on #546
This is a big problem for us also. We have invested in creating our own workbooks as part of Azure Monitor and there seem to have been an update that made it worse for us. All our workbook using grids have their columns with minimized. So both content and the labels are hidden by the lack of width.

This makes our dev team using them very cranky. As each time opening a complex workbook they have t

[2020-01-16 13:53] mortenlerudjordet commented on #546
This is in chrome, where one can see that there is a lot of room for the column information to expand and use the whole real estate available. All columns are set to automatic.
I have also tried to set many of the columns that does not have content I want to display to hidden, though this does nothing for how the width is set.

![WorkbookColumnWidth](https://user-images.githubusercontent.com/10818

[2020-01-16 17:29] gardnerjr commented on #546
Workbooks does not save the widths of columns, we depend on auto sizing to have useful sizes depending on the data.

As I stated above, the portal team is changing things underneath us and we're trying to keep up.  We do not know the width of the grid, as it would change based on the size of the window and other content inside.  we don't use percentage widths to fill the whole grid, because in tha

[2020-01-16 17:29] #546 closed

[2020-01-29 00:36] gardnerjr opened #574 "Renaming workbook filenames can cause loc "merge" to fail"
(whenever you fix this, get someone else from the team to shadow you so we know how+where to do it?)

[2020-01-29 03:41] vutran01 commented on #574
#576 fix is in the pipeline

[2020-02-06 00:03] #574 closed

[2020-03-03 13:46] AntonChernysh commented on #190
@gardnerjr Does what you described above work for you?
I just tried with proper **sourceId** in workbook ARM deployment. and it's still created as an independent resource and I don't see any references to this workbook in App insights.
See my deployment template
[code]
of course I'm replacing **my-subscription-id-here** with real value

[2020-03-17 20:06] gardnerjr commented on #190
remember: https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/Programmatically.md#limitations:  has this in the limitations section:

above, it looks like you are trying to create a workbook inside application insights (i see `category:workbook` and `sourceId:.../providers/microsoft.insights/components...` , which isn't supported.  you could deploy in to the "tsg"

[2020-03-31 11:17] praba984 opened #699 "How to categorise the workbooks programmatic"

[2020-03-31 16:57] gardnerjr commented on #699
@praba984 need a lot more information about this issue.  fill in a description and more information and you can re-open the issue.

[2020-03-31 16:57] #699 closed

[2020-04-14 23:04] srikanth3300 opened #712 "Kusto Query in Log Analytics"
We have a below kusto query in log analytics work books for azure data factory .

now we need a kusto query for each activity of the pipeline and also it should display error message

Could you please help me put

let data = ADFTriggerRun
| where TimeGenerated {TimeRange}
| where Status != "Running" and Status !contains "Waiting"
| where TriggerName contains "_isd_"
| where ResourceId contains "ES

[2020-04-15 00:27] gardnerjr commented on #712
what *specifically* do you need help with? the query above seems to be very specific to some resources?  Are you trying to create a generic template that others can use with a similar query in it?

[2020-04-16 09:01] srikanth3300 commented on #712
Hi John,

That query has some predefined columns , we want to know that where can we
see the table which has the resources in workbook .

On Wed, 15 Apr, 2020, 05:57 John Gardner, <notifications@github.com> wrote:

[2020-04-21 06:00] alishavez7 opened #722 "Pins for Azure backup reports not working"
Hi Guys,

I enabled the vault diagnostic settings with new resource specific mode and integrated it with Log Analytics and now i am able to see the backup reports but when i pin the report to azure dashboard then widget is pinned but no data displays on it. Get the below error on widget:

This query could not run because some parameters are not set.
Please set: JobOperation, JobStatus, JobFailureC

[2020-04-22 21:02] gardnerjr commented on #712
To see the all the tables available in the workspace, all the columns of the tables, and other schema info, navigate to the full "Logs" query blade, which is available from the query in workbooks in edit mode, in the right hand toolbar on the query itself:
![image](https://user-images.githubusercontent.com/10158007/80033454-a02b1300-84a1-11ea-93e4-658b2ef7ba92.png)

that blade has a full query edi

[2020-04-22 21:35] gardnerjr commented on #722
that's interesting and not correct, i will investigate.

[2020-04-23 21:27] alishavez7 commented on #722
Thanks John for your response.

Just to add one thing here that only one workbook from summary page is working as expected.

[2020-04-24 21:36] gardnerjr commented on #722
found and fixed in the portal extension: Pull Request 2859752: #7085945 - fix pins from groups not having params properly set

was occurring for anything that was inside a group control.  presuming things go well, should be deployed to prod starting Tuesday.

[2020-04-25 06:38] alishavez7 commented on #722
Thanks John, We will wait till Tuesday for you to deploy the fix in Prod.

[2020-04-28 22:39] ericajlin commented on #722
The issue has been deployed to Prod, hence closing this issue. Please re-open if the issue persists.

[2020-04-28 22:39] #722 closed

[2020-05-06 01:42] cbtham opened #745 "Allow Pie Chart & others to be interactive"
Hi, I discovered interactive parameters from documentation over here.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/workbooks-interactive

When I tried on pie, it was not working. I thought I did something wrong. When I change the visualization to grid, it works. May I know will this be supported in the future? or is there already a preview that supports this. What I'm trying to do

[2020-05-11 17:51] alishavez7 opened #752 "change backup reports widget names on Azure dashboard."
Hi John,

Hope you are doing good.

I have pinned number of backup reports widgets to azure dashboard but some widgets have meaningful name and some are showing Workbook so i want to change the widget names n azure dashboard.

[2020-05-12 17:52] gardnerjr commented on #752
This is a good idea, that isn't directly possible today.  We have further down the list a way to edit the query/etc of a pin, but that's a lot of work. the ability to change the title by itself is a simpler task.  i've added an internal story to track this:

Product Backlog Item 7208272: Workbooks: add ability to edit title of workbook pins

[2020-05-12 17:52] #752 closed

[2020-05-12 18:13] gardnerjr commented on #745
When using charts, not all of the fields of the grid are available for export, because the charts generally have to do manipulations of the data to turn it into chart series data.  After that, it might be impossible to resolve a bar in a chart back to a single row in a grid, as many rows might have been combined.

from the [github version of those docs](https://github.com/microsoft/Application-Ins

[2020-05-12 18:13] #745 closed

[2020-05-12 18:14] gardnerjr commented on #712
@srikanth3300  let me know if there's anything else you need.

[2020-05-12 18:14] #712 closed

[2020-05-13 10:31] alishavez7 commented on #752
Hi John,

Thanks for your response.

7208272: Workbooks: add ability to edit title of workbook pins? Is it a reference Doc which i could follow to change the Workbook title/names. I am unable to locate it. Please help.

[2020-05-13 22:21] vukelich opened #757 "Add Changes to Individual Storage insights"
Add a template that uses the Application Change Analysis preview data source to Individual Storage.

Note this can't be deployed until after the necessary portal changes for access are deployed. ETA end of May.

[2020-05-14 17:31] alishavez7 commented on #752
Hi John,

Any update on my previous comment?

[2020-05-14 17:47] alishavez7 opened #760 "change backup reports widget names on Azure dashboard."
Hi John,

Regarding the original issue #752 which is closed.

7208272: Workbooks: add ability to edit title of workbook pins? Is it a reference Doc which i could follow to change the Workbook title/names. I am unable to locate it. Please help.

[2020-05-19 21:07] gardnerjr commented on #760
as i stated in that item:

1) it isn't possible today: the author of the template can set initial values if they properly set titles on grids/charts in the template, but there's no way for a user to edit this on a dashboard)
2) i've added a story to our backlog to implement this feature.  the number won't be directly useful for you, but is useful for our tracking.

[2020-05-19 21:07] #760 closed

[2020-05-21 17:26] scautomation opened #770 "Icon Issue: "Normal" icon is displaying the icon for "informational""
When selecting an icon threshold for "normal" it displays an i with a circle, but in the workbook it displays the same blue icon for informational.

[2020-05-27 23:55] gardnerjr opened #777 "VMI: Convert some queries to static parameters"
While testing other things in workbooks today, i noticed that in this template (and probably other versions of this template):
Application-Insights-Workbooks/Workbooks/Virtual Machines - Performance Analysis/Performance Analysis for a Group of VMs (Perf)/Performance Analysis for a Group of VMs.workbook

have a bunch of params that run logs queries that don't need to.  in this case, since they are

[2020-06-02 12:27] alishavez7 opened #788 "HANA DB log backup jobs."
Hi John / Team,

Does azure backup reports support hana db log backup jobs? I am able to monitor the hana db full backup jobs but not the log backup success/failed jobs.

Please assist how we could incorporate the hana db log backup jobs with backup reports.

Thanks

[2020-06-08 23:34] #757 closed

[2020-06-09 16:27] alishavez7 commented on #788
Hi Team,

Any update on this?

[2020-06-19 10:29] alishavez7 commented on #788
Hi Team,

Any update on this? It's pending since last 27 days and still no response.

Thanks,
Shavez Ali

[2020-06-22 03:39] acearun commented on #788
@VinothJeyaraman can you help with this issues please?

[2020-06-25 14:26] VinothJeyaraman55 commented on #788
Hi alishavez7,

@adityabalaji-msft .. to your notice
In Backup Report, we dont expose log backup jobs.
However you could directly query  the same from your loganalytics workspace.

In future, we will make the Backup Report editable. With that, you would be able to edit the queries to include log backup jobs in the reports.

Thanks.

[2020-06-26 13:38] alishavez7 commented on #788
Thanks for your response @VinothJeyaraman55

[2020-07-08 09:02] NanoMS opened #862 "Converting view designer dashboards to workbooks"
Hello, I was using this github to implement dashboards via the soon deprecated view designer of azure monitor https://github.com/MicrosoftDocs/azure-docs/commits/master/articles/firewall/log-analytics-samples.md
The feature being now replaced by workbooks is there some work planned in order to produce workbooks on azure firewall or is there any way to transit easily from .omsview to .workbook with

[2020-07-17 20:08] #788 closed

[2020-07-17 20:08] gardnerjr commented on #862
@austonli do you have any other details for migrating?

[2020-07-20 00:42] austonli commented on #862
We have some templates available in LA workspaces to get you started. If you have all the queries you want to run, all you need to do is paste in the queries into the template and you can save that as a workbook for yourself.

[2020-08-20 03:45] Kumar-Ashwin-Hubert opened #916 "REST API or Azure CLI support for deploying the workbook"
Is there any REST API or dedicated azure CLI commands that can help in the deployment of the workbook.
[Workbook deployment](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/workbooks-automate) mentions ARM deployment, but maintaining a huge "serializedData" in the arm template is nowhere practical.

[2020-09-04 17:07] gardnerjr commented on #862
Given Auston's comments, i'm going to close this issue.  If you need more details feel free to reopen.

[2020-09-04 17:07] #862 closed

[2020-09-04 17:10] gardnerjr commented on #916
There are, at this time, no dedicated azure CLI commands, though the standard create/etc commands should work for workbook and workbook template resources presuming you pass the right information and metadata.

Unfortunately, the content of the workbook _is_ that `serializedData` field, and it probably isn't anything that will change soon.  We are open to submissions though, so if you create any t

[2020-09-04 17:10] #916 closed

[2020-09-11 10:28] krishna1s commented on #916
Hi @gardnerjr

I was trying to deploy it over AKS resource workbook

{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workbookDisplayName":  {
            "type":"string",
            "defaultValue": "My Workbook",
            "metadata": {
                "description": "The friendly na

[2020-09-11 10:29] krishna1s commented on #190
Hi @gardnerjr

I was trying to deploy it over AKS resource workbook

{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workbookDisplayName":  {
            "type":"string",
            "defaultValue": "My Workbook",
            "metadata": {
                "description": "The friendly na

[2020-09-21 08:58] GuusRaaphorst opened #945 "Parameterize resource references from Kusto queries in ARM template"
Hey,

I have created a workbook which contains some kusto queries that reference my application insights through a parameter. ![workbook parameter](https://user-images.githubusercontent.com/34499133/93752534-18d3fe00-fbff-11ea-931a-86aaaf9e5093.PNG)
This looks something like this in the gallery template json:

[code]

This parameter is then used in the query something like this:

[code]

When I no

[2020-09-25 13:42] Nikolay-Uvarov commented on #190
Does anyone know a workaround for deploying the workbook with "workbook" type not "tsg"?
Thanks

[2020-09-25 17:43] gardnerjr commented on #190
the workarounds are listed above: use `tsg` or use `usage` if you want to deploy ARM based workbooks for application insights.  We're still working on removing this limitation but trying to avoid migrating all of the existing legacy "favorites" based application insights workbooks which are not full ARM resources like microsoft.insights/workbooks are.

[2020-10-01 19:43] pejuborg opened #962 "Workbook: Workspace Usage error"
Hi,
I'm trying to run the Workspace Usage workbook from my Log Analytics workspace, but I'm getting an error:

`union: column named 'TableName' already exists
Click to Retry.
`

I've tried to edit the query but since my knowledge is lacking I cannot fix this myself, hence this issue.

[2020-10-06 19:15] gardnerjr commented on #962
yes, someone has apparently added a column named `TableName` somewhere in the schema, so the union function fails.

see #966 for a fix.  there are a few templates scattered around with this issue

[2020-10-12 18:58] #962 closed

[2020-10-12 19:07] gardnerjr commented on #945
you *can* do this via arm parameters, but it does become rather complicated in that you need to use concat/etc in the template to break up those values.

In general, the way to go is to remove all the `value`, `crossComponentResources` fields like that from the content before turning it into a template.  The build tooling here does tests to check for things like that, you could clone the repo and

[2020-10-22 16:29] #945 closed

[2020-10-22 16:32] gardnerjr commented on #770
This appears to be fixed already, not sure how i missed this issue here!

![image](https://user-images.githubusercontent.com/10158007/96902578-8b780980-1449-11eb-9ca3-59d002da7570.png)

[2020-10-22 16:32] #770 closed

[2020-10-22 16:44] #20 closed

[2020-10-22 16:45] #61 closed

[2020-10-22 16:45] #190 closed

[2020-10-29 01:15] rafa-pizzi opened #1007 "Multi Cluster Performance: Average Cluster CPU/Mem Utilization"
heWhen switching metrics from CPU->Mem the hive dashboard (Average Cluster <metric> utilization % by nodepool)  does not change. It only always shows the same value on the hive.
There is also something wrong with the nodepool names, if you have more than one nodepool.
All my linux nodepools (which naturally have other names rather than "default" )are shown as default. So I end up with 3 "default"

[2020-11-17 17:51] gardnerjr opened #1051 "Long file/path names being truncated in npm pack process?"
at some point in the packaging/deployment process, it unpacks the templates to turn them into an npm package, and the long path/names and the build’s directory structure mean it exceeds some limits, either in tar/gz itself or in the build pipeline system:

D:\a\r1\a\npm-publish\_azure_monitor_workbook_templates-1.0.0-build.15583.tgz_\azure_monitor_workbook_templates-1.0.0-build.15583.tar\package\e

[2020-11-17 18:09] gardnerjr commented on #1051
1. i updated the release pipeline to allow overwriting files when uncompressing the package from the build.  it should never have to do that, *but* somehow the path limitations above ended up having multiple files end up being the same path - that at least unblocked releases

2. i've updated the build output to not include the full package name+version, but to always have the build output a packag

[2020-11-17 20:08] gardnerjr commented on #1051
apparently this a limit of the 'tar' file format used inside the npm package's tgz:

important of them are: The maximum length of a file name is limited to 99 characters. The maximum length of a symbolic link is limited to 99 characters.

i'll have to add a check that verifies that limitation to the build process.

[2020-11-17 20:25] gardnerjr commented on #1051
this makes no sense.  this one is truncated to 99 (wanted to be 104)

`Network Insights-ExpressRouteCircuitsWorkbooks-NetworkInsights-ExpressRouteCircuitMetrics-Minified_`

this one, also exceeds 99 (_exactly_ 100):

`Virtual Machines - Performance Analysis-Performance Analysis for a Group of VMs (Azure Preview).json`

but is NOT truncated and works fine

[2020-12-03 21:13] PakDLiu opened #1081 "Hotfix to add a workbook for a demo"
Hey, our team would like to add a new workbook under SapMonitor to be able to demo to our partners on Monday (12/7 in the morning).
Can that be qualified as a hotfix so we can demo it?

[2020-12-04 21:22] #1081 closed

[2020-12-07 10:23] SergiiGalai commented on #190
Issue is closed. No reason, no comment, no pull request.
What's the reason of closing the issue if it is still not resolved? If it won't be fixed, why not at least change the message in /Documentation/Programmatically.md "For an technical reason, this mechanism cannot be used to create workbook instances in the Workbooks gallery of Application Insights. We are working on addressing this limitation

[2020-12-07 18:01] gardnerjr commented on #190
It was closed because it is a well known and well documented limitation, with documented workarounds.

The documentation is correct, we are working on it, but it hasn't been completed yet, and has been blocked by other things.

[2021-01-06 14:35] AndrewSmithRS opened #1155 "Parameters in Metrics"
Is it currently possible to use parameters to populate metric settings? I can choose a parameter for the Metric (e.g. using cpu_percent) however even though the parameter seems to be correct I'm unable to select an Aggregation. I'm not clear how this would work with multiple parameters either.

I was attempting to duplicate the functionality of Database Resource Utilization in Azure SQL Elastic Po

[2021-01-14 17:55] gardnerjr commented on #1155
@ericajlin can comment on the things that support parameters in metrics.

[2021-01-20 01:23] ericajlin commented on #1155
Hi @AndrewSmithRS,
Yes, metrics can be used with parameters. To do this, your parameter value needs to be the full metric ID. For example, the metric ID for storage account availability metric is `microsoft.storage/storageaccounts-Transaction-Availability`.

The easiest way to get the metric ID is the following:
1. Using the regular metric pill control, pick the metric(s) you are interested in
2.

[2021-01-21 21:58] ericajlin commented on #1155
Closing this issue, please re-open if necessary.

[2021-01-21 21:58] #1155 closed

[2021-02-10 20:14] gardnerjr commented on #202
There are examples of this now, not sure why i didn't close this issue earlier.

[2021-02-10 20:14] #202 closed

[2021-02-11 01:20] ChristopherL-STCU opened #1246 "Workbooks cannot be linked to Application Insights"
When I deploy a Workbook ARM template to a resource group then the Workbook appears in the Workbook gallery of the resource group. Here's a simple example:
[code]
But when I try to deploy to Application Insights (Exact same template as above with this one change.)
[code]
Then the Workbook shows as linked to Application Insights but when trying to view the Workbook it says the resource cannot be fo

[2021-02-19 12:15] bbbbbbbs opened #1267 "Private Workbooks Deprecation Jul 2021"
Hello, can this work be put on hold please?

-  “Save as private workbook” is quite useful,  and we would like it to remain.
Test workbooks will fill up the shared area unnecessary otherwise.
Probably better to provide a choice instead of removing it completely.

-  The git doc does not explain the reason for this change or value (2nd time the document is published, first one in November).

- No e

[2021-02-25 22:43] gardnerjr opened #1286 "remove the mezzurite single page application template?"
It looks like the mezzurite library itself: https://github.com/microsoft/Mezzurite/

is now "archived" and read only.  If that is the case, we should probably also remove the mezzurite appinsights template here?

https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Workbooks/Performance/Single%20Page%20Application%20Insights/Single%20Page%20Application%20Website%20Insights.workb

[2021-02-26 01:32] gardnerjr commented on #1267
Working with PM and @tonykslee to update the docs with better explanations.

Removing private workbooks simplifies a lot of confusing experiences and support issues that customers are having with private workbooks compared to full Azure Resource based Workbooks.

The simplest way to keep things separate is to save test workbooks to other subscriptions or resource groups.  An upcoming change to the

[2021-03-03 21:46] gardnerjr commented on #1246
This limitation is called out in https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/Programmatically.md#limitations

We are actively working on removing this limitation and moving "Application Insights Workbooks" (resource type `microsoft.insights/components/favorites`) to be on top of the same save system as "Azure Workbooks" (resource type `microsoft.insights/w

[2021-03-15 18:23] gardnerjr commented on #1246
(and technically they *can* be linked, you just won't see them in the gallery in App Insights until that work is completed (in progress now).  they would still show up in the full Azure Workbooks browse list though, and would work from there)

[2021-03-26 01:16] gardnerjr commented on #1246
FYI @ChristopherL-STCU the changes to allow `microsoft.insights/workbooks` to appear in Application Insights workbooks have now started rolling out to prod.  Let me know if you're seeing any issues, the above errors should no longer occur.

I still need to update the docs here to get rid of this limitation note.

[2021-03-26 01:16] #1246 closed

[2021-03-26 01:17] #1267 closed

[2021-04-08 08:20] abelal83 opened #1381 "how do we use these?"
Sorry if I missed the obvious but how are we able to use these workbooks? I went to "Azure monitor > workbooks > public templates" but I can't find the majority of these there. Any help much appreciated.

[2021-04-08 15:09] Aaronontheweb commented on #1381
Same - I can't figure out how I'm supposed to deploy my own custom workbook templates either. The ARM template that gets generated from the resource doesn't include the Workbook gallery definition.

[2021-04-08 15:12] Aaronontheweb commented on #1381
Looks like there's a guide for deploying these here: https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/workbooks-automate

[2021-04-08 15:15] abelal83 commented on #1381
I have to be honest it's rather long winded, these workbook look really great but I wish it was simple to use.

[2021-04-08 15:17] Aaronontheweb commented on #1381
Agree - it took hours for me to find that and I have to find a way to make it so our customers can replicate this process also and import this workbook into their own subscriptions.

[2021-04-08 15:45] Aaronontheweb commented on #1381
Even deploying a template via that guide doesn't work - after a successful ARM deployment the templates don't show up under "My Templates" in Azure Monitor

[2021-04-08 17:29] abelal83 commented on #1381
I tried also, managed to import one in but it simply doesn't work. None the drop down list any resources.

[2021-04-08 17:51] yves-chan commented on #1381
Hi @abelal83 and @Aaronontheweb

These workbook templates are spread across different galleries in the Azure portal. The Azure Monitor gallery is just one of them. Workbooks that show up on Azure Monitor will be in the gallery/workbook/Azure Monitor.json. In there, you'll find there are workbook ids which are the paths that correspond to the templates in this repo. You can search for the template

[2021-04-24 12:51] MichaCo commented on #1246
@gardnerjr
My workbooks linked to an AI resource can only be found under the "Browse across all galleries" button and are not visible in the standard Gallery list.
That doesn't feel right and makes it really hard to find workbooks (not just because of the fed up name of the resources under "across all galleries" which seems to be the container the workbook is actually in?)

Can I expect all workbo

[2021-04-29 11:10] BMichaelJ commented on #1381
Hi @yves-chan
Not really following where to find the json "gallery/workbook/Azure Monitor.json"
Could you elaborate?
Thanks

[2021-04-29 18:17] yves-chan commented on #1381
Hi @BMichaelJ

I was referring to this file: https://github.com/microsoft/Application-Insights-Workbooks/blob/master/gallery/workbook/Azure%20Monitor.json

You'll notice in this json file, in the templates array which has workbook entries. The id field corresponds to the workbook in this repository. ie: `"id": "Workbooks/Virtual Machines/At-scale Metrics"` is the workbook https://github.com/micros

[2021-05-10 23:17] ppgovekar opened #1450 "Need contributor access to Application-Insights-Workbooks for completing PR for ServiceBus"
Need contributor access to Application-Insights-Workbooks for completing PR for adding Service Bus AtResource Template: https://github.com/microsoft/Application-Insights-Workbooks/pull/1447

[2021-05-10 23:23] #1450 closed

[2021-05-26 23:37] #1381 closed

[2021-05-26 23:38] gardnerjr commented on #1051
haven't seen this issue since we re-arranged things and added checks/errors, closing

[2021-05-26 23:38] #1051 closed

[2021-07-26 23:45] gardnerjr commented on #1246
@MichaCo you'd have to open a request with support.  All workbooks should now be capital W Workbooks `micrsosoft.insights/workbooks`, and any that were left as private workbooks or legacy favorites will need to be manually migrated: https://aka.ms/workbookConversionTool

if you can see them in browse across galleries, opening the workbook as resource there should show you what resource it is speci

[2021-08-02 11:50] kozloffj opened #1562 "Cannot load Deprecated Workbook Retrieval Tool correctly"
Hi!
I am trying to run the Deprecated Workbook Retrieval Tool as described here - https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/LegacyAI/DeprecatedWorkbookRetrievalTool.md.

When I try to load it in a new Workbook, I get an error. After further review, there are unnecessary double quotes in some locations. After I removed the double quotes (Using Visual Stud

[2021-08-02 11:52] kozloffj commented on #1562
Here is the updated JSON with the extra double quotes removed.

[UpdatedWorkbookRetrievalTool.txt](https://github.com/microsoft/Application-Insights-Workbooks/files/6916604/UpdatedWorkbookRetrievalTool.txt)

[2021-08-02 13:08] darthkurak commented on #1562
Have the exactly same problem. I would like to retrieve deprecated workbooks (shared), but scripts doesn't work.

[2021-08-02 19:47] gardnerjr commented on #1562
how *exactly* are you using the files that you're getting errors?

1) open a new empty workbook
    * from azure monitor for private workbooks,
    * from the app insights resource for legacy workbooks

2) go into edit mode, and advanced mode

3) open the correct file from github, in *raw* mode, so you only have the workbook content, for example
    * private - https://raw.githubusercontent.com/mi

[2021-08-02 19:55] kozloffj commented on #1562
Hi @gardnerjr !
Thanks for the follow-up. The links you provided just worked. The difference is:

I go to this page in Github - https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/LegacyAI/DeprecatedWorkbookRetrievalTool.md

I click on Private Workbook Conversion link
![image](https://user-images.githubusercontent.com/26456745/127916035-b41dadc7-780f-4f91-a79b-a54

[2021-08-02 20:14] kozloffj commented on #1562
Just to clarify, this is the screen that causes errors in the JSON -
![image](https://user-images.githubusercontent.com/26456745/127918080-e044054f-a857-426b-b25f-2d491913583e.png)

Need to click on "Raw" button for proper format -
![image](https://user-images.githubusercontent.com/26456745/127918198-55a54d5f-7ce6-4db8-a28c-294ec64f63b7.png)

Hope this helps others!

Thanks!
Jeff

[2021-08-02 20:31] gardnerjr commented on #1562
yes, the screen that you see in github's normal view is rendering the workbook json as text/markdown, so if you copy/paste from there strange things can happen.  you need to go to the raw view explicitly.

[2021-08-02 20:32] gardnerjr commented on #1562
@tonykslee can you update the instructions to give the literal instructions (or links?) for the raw files instead of just "(raw)" in parens? see my explicit instructions above that unblocked/clarified here.

[2021-09-09 16:31] Tasos-Torou opened #1613 "Merged type query not pinning on Dashboard"
Hi, I have a workbook that contains 3 queries:
1) Azure Resource Graph
2) Log Analytics
3) Merged query of the above two.

When I am pinning the workbook steps (or queries - as described above) to a dashboard, only the first two are shown in the dashboard. the merged query is not showing up.  I can't find any documentation that tells me which steps can be pinned or not.

Any idea?

[2021-09-13 04:13] rbanks54 opened #1617 "Optional MultiValue usage in KQL"
I have a workbook with a global parameter for holding selections made from an initial query table. I then want to use that selection to filter results in a later query.

I also want to default to showing all data when no selection has been made, and only filter when the multi-value parameter is populated.

I've set set the initial query to export it's selection parameters as follows:

![image](htt

[2021-09-13 06:23] munir94 opened #1618 "Update Management"
Do workbook for update management  available, i cant find from the list.

[2021-11-18 15:55] shlomiassaf opened #1700 "[Feature] Support updating the timerange from query/static/expression"
The timerange is currently updatable only through user interaction either directly at the component or through brushing (via global param).

It is not possible to update it by other means, i.e providing from/to or and expression (`ago(1h`).

This limitation is big, since almost all **metric** components are encapsulated and only accept timerange from UI or existing variables.
If I bind the metric

[2021-12-01 00:34] gardnerjr commented on #1700
@shlomiassaf Can you give a specific example of what you need?  I *think* i get what you mean but can you give me a concrete example?

Would you want to be able to use something like criteria parameters to be able to if/then/else and have the result be a time range?  and/or a time range can be the result of a query?  use some kind of language like math.js?

the odd thing here is that time ranges a

[2021-12-01 11:06] shlomiassaf commented on #1700
Hi @gardnerjr

Thanks for helping out!

We're using application insight to measure the performance of a distributed process.

Through correlation we can easily track the start/end period and store it via parameters and then in each query use the params to limit the time range of the queries

It will be better if we can update the **TimeRange** directly and use it in all queries instead of importin

[2021-12-01 20:17] gardnerjr commented on #1700
@shlomiassaf, Right but a *specific* example.  how would you update the time range?  shifting by a known amount and staying as a relative time?  programmatically calculating start and end?  you already have 2 numeric values and want to treat them as the start/end of a time range?

having a workbook of the form
[code]

having a concrete example to work from will guarantee that whatever solution we

[2021-12-01 21:04] shlomiassaf commented on #1700
Yep, got confused there, thanks for clarifying and for the extreme patience.

1. Workbook has **global** time range picker parameter named **TimeRange**
2. Somewhere in the workbook, a **text** parameter step named **TimeRange** runs a query which returns a single row
3. The returned value from (2) should correspond with the time range object model:

[code]

OR

[code]

[code]

[2022-01-07 09:47] mclgoerg opened #1731 "Interactivity with multiple selections in grids"
Hi,

I am trying to create a workbook with a multi-select.
You have an example here: https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/Interactivity.md#example

Can you please provide me the workbook or the Kusto Query for it?
I am having troubles to display the selected rows and use them in my other queries.

When I select two rows and print it with:
print d =

[2022-01-08 01:30] #1286 closed

[2022-01-08 01:34] gardnerjr commented on #1731
If you need computer and workspace, you can export those as specific parameters with those names, and the values will each be an array of multiple values of just computer and just workspace, which you could use like

[code]

otherwise, in your query, you'd do something like
[code]
and now values would be an array of objects, and you'd use standard kql array, json, dynamic functions on the values a

[2022-01-08 01:35] #1618 closed

[2022-01-10 09:17] mclgoerg commented on #1731
Hi, thanks for your quick reply.

Sadly I can't use your first suggestion. A computer is only unique inside one workspace - I need the combination of computer and workspaces to get unique results.

If I just display normal values in my grid view.
Computer/Workspace/Average/P90th
than I can do the following:

[code]

and it does work.

But I build my query to also show me the applications (make_set

[2022-01-10 09:24] mclgoerg commented on #1731
I don't know what I changed but somehow it works!

[2022-01-10 09:30] mclgoerg commented on #1731
One last question:

Is it possible to do this easier?
Instead of:
[code]

Build it inside JSON or something else with the data which is selected?

[2022-01-31 07:52] bqstony opened #1761 "IoT Hub Strange drops in Workbook"
Hi I see some stranges drops in Workbook of my IoT Hub

@micahl you told me of some new ux polish, i think since the update is this behavior?!?

See 31.01
![2022-01-31 08_38_06-Window](https://user-images.githubusercontent.com/10487253/151756782-9e2d4f83-2e52-41ae-89f2-3b408764684d.png)

When i Zoom in this range
![2022-01-31 08_40_09-Window](https://user-images.githubusercontent.com/10487253/1517

[2022-01-31 18:50] micahl commented on #1761
@bqstony, at what frequency do you have the device set to emit metrics?  The default is 5min.

There was a recent fix for the graphs in the 'Host' tab to address the value always dropping to zero at the end.  See https://github.com/microsoft/Application-Insights-Workbooks/pull/1753.

For other situations where you may see the graph reporting zero... The Hub device details workbook uses a 5min inte

[2022-02-01 20:03] bqstony commented on #1761
I use the defaults 5min and also de defaults in the metricscollector. The Version of the Container is `mcr.microsoft.com/azureiotedge-metrics-collector:1.0.2`

in the short, i tested your query in the range of 30.01 to 31.01
![image](https://user-images.githubusercontent.com/10487253/152042177-5e8e3e2b-0eaf-4464-a2c6-82011de647bb.png)
so when we calculate: 2304 / 8 = 288

the same in the the half

[2022-02-03 18:22] gardnerjr commented on #1731
if you have selected *workspaces* in the grid, and those workspace entries are full workspace azure resource ids, you can export that workspace column as a parameter, and explicitly set it to be type "resource picker".  then downstream in the workbook, you can target a query at that resource parameter, and it would query both workspaces.  If they aren't full resource ids, i'm not sure there's any

[2022-02-04 08:09] micahl commented on #1761
@bqstony try this query.  It should list the _N_ largest time differences between successively recorded samples for CPU usage.  This should help us highlight if there are gaps and when they occurred.

[code]

[2022-02-06 15:03] velociwabbit opened #1770 "Missing workbook language reference guide"
I have been struggling to make use of workbooks for any but the simplest of tasks. This is largely due to the fact that there is no language reference guide that would afford the user the ability to specify "type" and other parameters in a meaningful way. Last time I checked type 0 type 2 type 9 etc are not Microsoft standard ways of naming things and have not been since ms-dos.

Yet here they are

[2022-02-06 15:14] velociwabbit commented on #1770
Also whoever is in charge of the online docs for this particular product should be moved into the "creating badly worded  puzzles  for Xbox " division and out of their present position

Giving an abstract example not grounded in a specificity actionable and complete set of code is the equivalent of someone giving a PPT presentation with a bunch of arm-waving and then right before closing the prese

[2022-02-06 16:43] velociwabbit commented on #1770
Here is another very simple request.

Depending upon which tables are selected I want the viewer to be able to select the columns they want.... This is available in the log query function but I cannot find an example of how to construct one (that has the dependency of other dropdowns) anywhere.

I am glad that Microsoft uses this functionality all over the place... bit disappointed that i have to

[2022-02-07 12:50] bqstony commented on #1761
@micahl here is the result for the time range we discused above
![image](https://user-images.githubusercontent.com/10487253/152791200-f88fb16e-5c1b-4f05-bdc3-5e3d932bfc98.png)

and here the actual top 5 from today
![image](https://user-images.githubusercontent.com/10487253/152791299-9d219a26-ecae-4bc0-962e-d3b2ae2e12c5.png)

[2022-02-16 01:27] gardnerjr commented on #1770
Workbooks are generally intended to be created using the Workbooks UX, where a lot of this information is opaque to users.  The JSON format is the serialized format when a workbook is saved, and is only partially documented at the current time because of time and resource constraints.  Numeric enums, while not super discoverable, are a very common construct, even still today.

It is not clear beca

[2022-02-16 02:42] velociwabbit commented on #1770
I have many that I can provide but it would be faster for you to go through the workbook and kql online docs and review them for exact answers with actual working code (in a workbook or kql format that is complete as opposed to a theoretical snippet).

Over time i will gladly provide you with a list. But I am working as a consultant to a sp500 company with all the accompanying security etc on azur

[2022-03-04 22:12] JefTek opened #1824 "Conditional Access Gap Analysis - Windows Sign In should be removed from App Report"
In reviewing the CA GAP Analysis workbook,  in the Unprotected Applications section,  the report of Number of Users Signing in to Applications with Conditional Access Policies Not applied, it includes the Windows Sign-In "app"

![image](https://user-images.githubusercontent.com/11558645/156848666-6659548a-0f03-4ea2-9856-d375087a70ed.png)

This is the sign in to the Windows device and PRT acquisiti

[2022-03-10 17:32] gardnerjr commented on #1824
@sabinasmith It looks like you might be the author of this template?

[2022-05-02 18:46] pizzaz93 commented on #1007
@austonli does https://github.com/microsoft/Application-Insights-Workbooks/commit/3327e16829e964dcbfa23f28c2e0a71785fb02f5 resolve this issue?

[2022-05-02 19:00] pizzaz93 commented on #437
#1720 by @yves-chan deprecated this workbook and removed those links

[2022-05-04 18:37] #437 closed

[2022-05-25 08:49] microsoft-github-policy-service[bot] opened #1916 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-26 22:42] #1916 closed

[2022-06-13 22:32] jackwagons opened #1930 "Usage through the day Workbook invalid order by"
The _Usage through the day_ Workbook orders by the string variable used for display purposes.

KQL Snippet:
| extend Day = strcat(monthofyear(timestamp), '/', dayofmonth(timestamp), ' - ', case(WeekDay == 0d, 'Sun', WeekDay == 1d, 'Mon', WeekDay == 2d, 'Tue', WeekDay == 3d, 'Wed', WeekDay == 4d, 'Thu', WeekDay == 5d, 'Fri', 'Sat'))
| extend Day1 = bin(timestamp, 1d)
| order by **Day** asc, Hour as

[2022-06-17 21:34] #1930 closed

[2022-07-29 19:22] jackwagons opened #1982 "Authenticated User Timeline Workbook - Parse Error"
The _Authenticated User Timeline_ Workbook does not escape `UserId` in Session Timeline sec.

KQL snippet:

set query_take_max_records=10001;set truncationmaxsize=67108864;
let monthName = (month:int) {
    case(
        month == 1, 'January',
        month == 2, 'February',
        month == 3, 'March',
        month == 4, 'April',
        month == 5, 'May',
        month == 6, 'June',
        mon

[2022-07-29 22:07] Khushbu-Parekh opened #1983 "Modifications to the IP Subnet Usage Workbook"
In the Subnet IP usage Workbook we wish to make the following changes
- Remove the IP usage reserved for future to avoid any confusion to the user.
- For the IPs allocated from Subnet we are currently using bar chart, which we want to change to a pie chart showing the entire cluster.
- Below are the screenshot of the changes:
1) Removed "IPs reserved for future Pods" from the list
<img width="728"

[2022-09-29 08:55] bbbbbbbs opened #2015 "Workbook Retrieval Tool does not work"
PrivateWorkbookConversion.workbook code/tool does not show any private workbooks under any subscription or resources. "No private workbooks found".  Please help. Thanks

[2022-10-16 08:14] sangling opened #2029 "Backup Report email not displaying images"
The email reports are not embedding the images correctly.

As an example:
`<img src=\"cid:@{body ('Run_query_and_visualize_results-PolicyTrend')? ['attachmentName']}\" width:\"50px\"/>`

Should be:
`<img src=\"data:image/jpeg;base64,@{body ('Run_query_and_visualize_results-PolicyTrend')? ['attachmentContent']}\" width=\"50px\"/>`

I have tested my changes by testing by changing directly in the Log

[2022-11-04 19:12] bsonnek opened #2057 "Backup Report - Azure Files backups not displaying Cloud Storage Space"
The Backups report workbook is not showing us Azure Files backup vault storage consumed data. We're able to see all the other details built into the workbook for Azure Files, but for some reason the "Cloud Storage (GB)" field does not populate data.

I've checked multiple subscriptions, and verified Log Analytics diagnostics are configured to this guide - https://learn.microsoft.com/en-us/azure/ba

[2022-11-04 21:42] gardnerjr commented on #2029
if you're building from a custom branch, there are some restrictions on the names of files/folders inside that have to match up exactly so it can find the right files in github.  the custom gallery instructions are more accurate/functional.

[2022-11-04 21:44] gardnerjr commented on #2015
@bbbbbbbs need more info than that.  The private workbook tool is querying private workbooks which belong to you in those locations.  if it doesn't show any, there might not be any?

Do you know that you do have private workbook (myworkbook) resources?

This is different from "legacy" workbooks that are inside application insights resources, there's separate instructions for those.

[2022-11-04 21:44] #2015 closed

[2022-11-04 21:45] gardnerjr commented on #1731
Closing from no activity

[2022-11-04 21:45] #1731 closed

[2022-11-07 03:33] adityabalaji-msft commented on #2057
Backup Reports shows the storage that is consumed in the Recovery Services vault. for Azure Files backup, since currently only snapshot tier backup is available and data is not transferred to the vault, the vault storage corresponding to Azure Files backup is shown as zero in the reports

[2022-11-07 08:39] adityabalaji-msft commented on #2029
Thanks for reaching out - Looking into this. @tmalhotra2428 for visibility

[2022-11-07 13:58] bsonnek commented on #2057
HI Adi, Thank you for the response. Do you know of any method to track the storage/consumption and billable cost of Azure files backups/snapshots? We manage many customer subscriptions and are looking for a way to visualize the cost of storage. I know Microsoft is billing us for Azure files backups/snapshots, so there must be value somewhere we can grab.

[2022-11-08 00:02] sangling commented on #2029
I was wondering if I am unable to test is related to the fact that this specific workbook doesn't appear under 'Workbooks' in Azure and is only accessible from within 'Recovery Services Vault'.

[2022-11-09 08:22] adityabalaji-msft commented on #2057
There is a metric FileShareSnapshotSize availalable for Azure files: https://learn.microsoft.com/azure/azure-monitor/essentials/metrics-supported#microsoftstoragestorageaccountsfileservices
Could you review the above link and if it meets your requirement?

[2022-11-09 21:52] bsonnek commented on #2057
Thank you for the suggestion. I'll look around in the powershell commands to see what kinds of custom log value we can create in a Log Analytics workspace. We'd like to see these backup detail values in a custom azure monitor workbook to track backup consumption at scale.

I'll close this out at this time. Thank you for answering my question and providing a recommendation.

[2022-11-09 21:52] #2057 closed

[2022-11-16 08:11] gguibert opened #2066 "Incorrect parameter "AzureFirewall""
The "AzureFirewall" Parameter is not used as a variable in all requests.
The parameter called is "Resource".
Please update either:
- replacing the "AzureFirewall" parameter with "Resource".
- or replace all "Resource" variables in your requests.

Without this change the workbook does not work when implemented.

https://github.com/microsoft/Application-Insights-Workbooks/blob/e084fb7250c4aef9591953